---

Checks: '-*,clang-diagnostic-*,clang-analyzer-*,bugprone-*,-bugprone-macro-parentheses,readability-identifier-naming'

WarningsAsErrors: '*'

CheckOptions:
  - key: readability-identifier-naming.EnumCase
    value: 'CamelCase'
  - key: readability-identifier-naming.EnumConstantCase
    value: 'UPPER_CASE'
  - key: readability-identifier-naming.StructCase
    value: 'CamelCase'
  - key: readability-identifier-naming.StructSuffix
    value: '_'
  - key: readability-identifier-naming.TypedefCase
    value: 'CamelCase'
  - key: readability-identifier-naming.TypedefIgnoredRegexp
    value: '.*_t'
  - key: readability-identifier-naming.UnionCase
    value: 'CamelCase'
  - key: readability-identifier-naming.FunctionCase
    value: 'lower_case'
  - key: readability-identifier-naming.ParameterCase
    value: 'lower_case'
  - key: readability-identifier-naming.VariableCase
    value: 'lower_case'
  - key: readability-identifier-naming.StaticVariableCase
    value: 'CamelCase'
  - key: readability-identifier-naming.StaticVariablePrefix
    value: 's'
  - key: readability-identifier-naming.StaticVariableCase
    value: 'CamelCase'
  - key: readability-identifier-naming.StaticConstantCase
    value: 'CamelCase'
  - key: readability-identifier-naming.GlobalConstantCase
    value: 'CamelCase'
  - key: bugprone-easily-swappable-parameters.MinimumLength
    value: 4
